body{
    background-color: whitesmoke;
    margin-top: -3.5px;
    margin-left: 2px;
    margin-right:2px;
}
header {
    padding: 20px 0;
    background-color: lightblue;
}
.grid-container{
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: auto auto auto auto;   
}
#btn1{
    background-color: rgb(228, 67, 8);
    padding: 10px;
    color: blue;
    border-radius: 20px;
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    margin-top: -50px;
    border-color:none;
    
}
#btn1:hover{
    background-color: blue;
    color: white;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex;  
}
.links:hover{
    color: orangered;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.grid-item{
    border: 3px;
    border-radius: 10px;
    padding: 10px;
    content: center;
    background: fixed;
    background-color: lightblue;
    text-align: center;
    color: rgb(1, 1, 39);
    font-weight: bold;
}
.grid-item:hover{
    background-color:rgb(4, 4, 92);
    color: white;   
}
.tech-sec h1{
 font-size: 40px;
 text-align: center;
 color: orangered;
}
.grid-item h3{
    font-family: 'Times New Roman', Times, serif;
    color: orangered;
    font-size: 20px;
}
.about-sec h1{
    font-size: 40px;
    font: bolder;
    text-align: center;
    color: orangered;
}
.logo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
span{
    color: blue;
    font-size: 25px;
}
.link{
    list-style-type: none;
    display: flex;
    justify-items: right;
}
.about-sec{
    background-color: lightblue;
    border-radius: 20px;
    margin:auto;
    padding: 10px;
}
.contact-link{
    list-style-type: none;
    display: inline;
    padding: 0;
    text-align: center;
}
.contact{
    font-size: 30px;
    color:orangered ;
    text-align: center;
}

/* affilate market */
header {
    padding: 20px 0;
    background-color: lightblue;
}
h1{
    font-size: 40px;
    color:blue;
}
.definition{
    color:orangered;
    font-size: 30px;
}
.list{
    list-style-type: circle;
}
h2{
    color:blue;
}
h3{
    color:blue;
}
strong{
    color:orangered;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex;
    
}

/* blockchain */
header {
    padding: 20px 0;
    background-color: lightblue;
}
a{
    text-decoration: none;
    
    font-weight: bold;
}

a:hover{
    color: orangered;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex;
}
h1{
    font-size: 40px;
    color:blue;
}
.definition{
    color:orangered;
    font-size: 30px;
}
.list{
    list-style-type: circle;
}
.Functions{
    color:blue;
}
.jobs{
    color: blue;
}
.Skills{
    color:blue;
}
strong{
    color:orangered;
}

/* cyberSecurity.html */
header {
    padding: 20px 0;
    background-color: lightblue;
}
a:hover{
    color: orangered;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 40px;
    color:blue;
}
.definition{
    color:orangered;
    font-size: 30px;
}
.list{
    list-style-type: circle;
}
.Functions{
    color:blue;
}
.jobs{
    color: blue;
}
.Skills{
    color:blue;
}
strong{
    color:orangered;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex;  
}

/* data analyst.html */
body{
    background-color: whitesmoke;
}
header {
    padding: 20px 0;
    background-color: lightblue;
}
a:hover{
    color: orangered;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
h1{
 font-size: 40px;
 text-align: center;
 color: orangered;
}
.logo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
span{
    color: blue;
    font-size: 25px;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex;   
}

/* data scientist.html */
body{
    background-color: whitesmoke;
}
header {
    padding: 20px 0;
    background-color: lightblue;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
h1{
 font-size: 40px;
 text-align: center;
 color: orangered;
}
.logo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
span{
    color: blue;
    font-size: 25px;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex; 
}

/* project manager*/
body{
    background-color: whitesmoke;
}
header {
    padding: 20px 0;
    background-color: lightblue;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
h1{
 font-size: 40px;
 text-align: center;
 color: orangered;
}
.logo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
span{
    color: blue;
    font-size: 25px;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex;   
}

/* software engineer.html */
body{
    background-color: whitesmoke;
}
header {
    padding: 20px 0;
    background-color: lightblue;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
h1{
 font-size: 40px;
 text-align: center;
 color: orangered;
}
.logo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
span{
    color: blue;
    font-size: 25px;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex; 
}

/* web developer.css */
body{
    background-color: whitesmoke;
}
header {
    padding: 20px 0;
    background-color: lightblue;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
.logo{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
span{
    color: blue;
    font-size: 25px;
}
.links{
    text-decoration: none; 
    font-weight: bold;
    color: black;
    display: flex; 
}
h1{
    font-size: 40px;
    text-align: center;
    color: blue;
   }
h2{
    color: orangered;
    font-size: 25px;
}
h3{
    color:orangered;
    font-size: 25px;
}
strong{
    color: blue;
}
.list{
    list-style-type: circle;
}
/* form.css */
legend{
    color: orangered;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}
label{
    color:blue;
}
@media(max-width: 768px) {
    header {
        padding: 20px 0;
        background-color: lightblue;
    }
    .grid-container{
        display: grid;
        gap: 20px;
        margin-top: 20px;
        grid-template-columns: auto auto;   
    }
    .grid-item{
        border: 3px;
        border-radius: 10px;
        padding: 10px;
        content: center;
        background: fixed;
        background-color: lightblue;
        text-align: center;
        color: rgb(1, 1, 39);
        font-weight: bold;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
    }
  }
  
  @media (max-width: 1199px) and (min-width: 769px) {
    header {
        padding: 20px 0;
        background-color: lightblue;
    }
    .grid-container{
        display: grid;
        gap: 20px;
        margin-top: 20px;
        grid-template-columns: auto auto;   
    }
    .grid-item{
        border: 3px;
        border-radius: 10px;
        padding: 10px;
        content: center;
        background: fixed;
        background-color: lightblue;
        text-align: center;
        color: rgb(1, 1, 39);
        font-weight: bold;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;
    }
  }
